[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[dev-packages]

[requires]
python_version = "3.6.5"

[packages]
flask = "*"
marshmallow = "*"
sqlalchemy = "*"
mysqlclient = "*"
flask-sqlalchemy = "*"
itsdangerous = "*"
flask-bcrypt = "*"
authlib = "*"
flask-cors = "*"
flask-migrate = "*"
pyjwt = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
