@font-face {
  font-family: Lulo-Bold;
  src: url('./Lulo-Clean-W01-One-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lulo;
  src: url('./Lulo-Clean-W01-One.ttf');
  font-weight: 400;
  font-style: normal;
}
