/* Navbar */
.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  min-height: 6rem;
}

.navbar ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.navbar a {
  display: flex;
  align-items: center;
  height: 100%;
  font-family: 'Lulo-Bold', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
}

.menu a {
  margin-right: 3rem;
}

.menu:last-child a {
  margin-right: 0;
}

.user a {
  background-color: rgba(163,18,24,1);
  cursor: pointer;
  color: rgba(255,255,255,1);
}

.user a:hover {
  background-color: rgba(163,18,24,0.8);
  color: rgba(255,255,255,1);
}