/* Link */
.link {
  display: flex;
  align-items: center;
  padding: 1rem;
  color: #363636;
  text-decoration: none;
  text-transform: uppercase;
}

.link:hover {
  color: rgba(163,18,24,1);
}